<li>
    {{name}}

    <button class="change-burger" data-id="{{id}}" data-devour="{{devouredBurger}}">
        {{#if devoured}}EAT-DA-BURGER!{{else}}BURGER CONSUMED!{{/if}}
    </button>
    <button class="eatBurger" data-id="{{this.id}}">EAT THE BURGER!</button>
</li>